
afGMDemo/afGMDemo.xcodeproj/project.xcworkspace/xcuserdata/adrienferre.xcuserdatad/UserInterfaceState.xcuserstate

afGMDemo/afGMDemo.xcodeproj/project.xcworkspace/xcuserdata/adrienferre.xcuserdatad/WorkspaceSettings.xcsettings

afGMDemo/afGMDemo.xcodeproj/xcuserdata/adrienferre.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

afGMDemo/afGMDemo.xcodeproj/project.xcworkspace/xcuserdata/adrienferre.xcuserdatad/UserInterfaceState.xcuserstate

afGMDemo/afGMDemo.xcodeproj/project.xcworkspace/xcuserdata/adrienferre.xcuserdatad/UserInterfaceState.xcuserstate

iOS/.DS_Store

.DS_Store

.DS_Store

.DS_Store
